html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
}
p {
  font-size: 1rem;
}

.parallax {
  /* The image used */
  background-image: url("images/bg-art.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Quote */
.quote {
  margin: 31% 5% 0;
  text-align: center;
}


h3 {
  color: #fff;
  font-family: "Lobster", cursive;
}
span {
  color: black;
}
/* Navigation Bar  */
.navbar {
  padding-bottom: 3rem;
}

.navbar-brand {
  padding-left: 10px;
  font-family: "Lobster", cursive;
  font-size: 3.5rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-weight: 600;
  font-size: 1.3rem;
}

/* Download Button  */

.download-button {
  margin: 5% 3% 5% 3%;
}

/* Title section  */
.title {
  text-align: center;
  margin-top: 10%;
  padding: 10% 6%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.title-image {
  width: 400px;
}
.big-heading {
  font-family: "Merriweather", serif;
  padding: 11% 0;
  font-size: 3rem;
}

/* Art pieces */
.art-pieces {
  width: 85%;
}
.feature-box {
  text-align: center;
  padding: 3%;
}
h5 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  padding: 10% 0;

  color: #fff;
}

/* Carousel */

#testimonials {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5%;
  margin-top: 5%;
}
.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  padding: 3%;
  text-align: center;
}
.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px 7px 20px 40%;
}

#press {
  text-align: center;
  padding: 5% 5%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Footer */
.footer {
  padding: 7% 15%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.contact-footer {
  margin: 20px 10px;
}

/* Contact me  */
.contact-us {
  color: #fff;
  padding: 10%;
}
.detail {
  font-size: 1.5rem;
  padding: 5%;
}
.contact-btn {
  color: #fff;
  padding: 2%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: none;
}
.btn-contact {
  margin-top: 10%;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
